<div class="orders">
	<div class="container">
		<div class="order-top">
			<li class="item-lists"><h2>{{name}}</h2>
				{{address.streetAddress}}, {{address.city}} 
				<br/>
				<b>Landmark :</b>{{address.landmark}}
				
				<p><h4>Features</h4></p>
				<p><b>Phone:</b> {{phone}}</p>
				<P><b>Status:</b> Opened</P>
				<P><b>Cuisine:</b> {{cuisine}}</P>
				<P><b>Website:</b>{{website}}</P>
				<P><b>Halal Authenticity:</b>{{authenticity}}</P>
			</li>
			<li class="item-lists">
				<div class="special-info grid_1 simpleCart_shelfItem">
				
					<h4>Working Hours</h4>
							<table style="width:100%" border="1px solid black">
							   <tr>
								<td bgcolor="white" align="center"><div class="microLink">Mon</div></td>
								<td bgcolor="white" align="center"><div class="microLink">Tue</div></td>
								<td bgcolor="white" align="center"><div class="microLink">Wed</div></td>
								<td bgcolor="white" align="center"><div class="microLink">Thur</div></td>
								<td bgcolor="white" align="center"><div class="microLink">Fri</div></td>
								<td bgcolor="white" align="center"><div class="microLink">Sat</div></td>
								<td bgcolor="white" align="center"><div class="microLink">Sun</div></td>
							  </tr>	
							  <tr>
								<td bgcolor="white" align="center"><div class="microLink">11:00a</div></td>
								<td bgcolor="white" align="center"><div class="microLink">11:00a</div></td>
								<td bgcolor="white" align="center"><div class="microLink">11:00a</div></td>
								<td bgcolor="white" align="center"><div class="microLink">11:00a</div></td>
								<td bgcolor="white" align="center"><div class="microLink">11:00a</div></td>
								<td bgcolor="white" align="center"><div class="microLink">11:00a</div></td>
								<td bgcolor="white" align="center"><div class="microLink">11:00a</div></td>
							</tr>
							<tr>
								<td bgcolor="white" align="center"><div class="microLink">9:00p</div></td>
								<td bgcolor="white" align="center"><div class="microLink">9:00p</div></td>
								<td bgcolor="white" align="center"><div class="microLink">9:00p</div></td>
								<td bgcolor="white" align="center"><div class="microLink">9:00p</div></td>
								<td bgcolor="white" align="center"><div class="microLink">9:00p</div></td>
								<td bgcolor="white" align="center"><div class="microLink">9:00p</div></td>
								<td bgcolor="white" align="center"><div class="microLink">9:00p</div></td>
							</tr>
							</table>
					
					<p/>
					<h4>Cost for 2</h4>
					<div class="pre-top">
						<div class="pr-left">
							<div class="item_add"><span class="item_price"><h6>ONLY Rs.500</h6></span></div>
						</div>
							<div class="clearfix"></div>
					</div>
					
					<h4>Famous for</h4>
					<div class="pre-top">
						<div class="pr-left">
							<div class="item_add"><span class="item_price"><h6>Best chinese in the camp area</h6></span></div>
						</div>
							<div class="clearfix"></div>
					</div>
					</div>
				</li>
			<div class="clearfix"></div>
		</div>
		
