<div id="all-error-msg" class="login-error"></div>
<div class="login-box">
    <div class="lb-header">
      <a href="#" class="active" id="login-box-link">Login</a>
      <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <div class="social-login">
      <a href="#">
        <i class="fa fa-facebook fa-lg"></i>
        Login in with facebook
      </a>
      <a href="#">
        <i class="fa fa-google-plus fa-lg"></i>
        log in with Google
      </a>
    </div>
    <form class="email-login">
    
    <br/>
      <div class="u-form-group">
        <input id="username" type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input id="password" type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <button class="submitButton" type="button">Log in</button>
      </div>
       <div class="u-form-group">
      	<label class="checkbox" ><input type="checkbox" id="rememberMe" style="text-align: center;"><i> </i>Remember Me</label>
      </div>
      <div class="u-form-group">
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
    </form>
    <form class="email-signup">
      <div class="u-form-group">
        <input id="user-full-name" type="email" placeholder="Full Name"/>
      </div>
      <div class="u-form-group">
        <input id="user-email" type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input id="user-password" type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <button class="signupSubmitButton" type="button" onclick="signUp()">Sign Up</button>
      </div>
    </form>
  </div>