
<style>
 .cuisineUl{
	display: inline; list-style: none; 
}
.cuisineUl li{
	display: inline; 
}
.cuisineUl li:AFTER {
content: ", ";
} 
	
/* Pagination style */

a {
    color: #4A4A4A;
    border: 0; outline: 0;
}

.pagination {
    text-align: center;
    width: 100%;
}
.pagination a, .pagination strong {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
	line-height: 1.5em;
	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}
.pagination a:active {
	background: rgba(190, 190, 190, 0.75);
}
.pagination strong {
    color: #fff;
    background-color: #d83c3c;
}
</style>
<div class="menu-bar" style="padding: 10px 0px 50px 0px;">
<h4 style="text-align: center;">Filter</h4>
	<div id="distance-filter">
	    <label class="distance-filter-label"><input type="radio" class="distance-filter" name="distance-filter" 
	    		{{#distanceFilter5}}checked="checked"{{/distanceFilter5}} value="5"><span>5Km</span></label>
	    <label class="distance-filter-label"><input type="radio" class="distance-filter"  name="distance-filter" 
	    		{{#distanceFilter8}}checked="checked"{{/distanceFilter8}} value="8"><span>8Km</span></label>
	    <label class="distance-filter-label"><input type="radio" class="distance-filter"  name="distance-filter" 
	    		{{#distanceFilter10}}checked="checked"{{/distanceFilter10}} value="10"><span>10Km</span></label>
	    <label class="distance-filter-label"><input type="radio" class="distance-filter"  name="distance-filter" 
	    		{{#distanceFilter12}}checked="checked"{{/distanceFilter12}} value="12"><span>12Km</span></label>
	    <label class="distance-filter-label"><input type="radio" class="distance-filter"  name="distance-filter" 
	    		{{#distanceFilter15}}checked="checked"{{/distanceFilter15}} value="15"><span>15Km</span></label>
	</div>
</div>	

{{>desktop/search/result-cell}}
	
	